<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/initial.css">
    </head>
    <body>
        <main>
            <h1 class="main-title"><%= title %></h1>
            <p class="welcome"> Bem vindo(a) ao <%= title %> </p>
        </main>
        <footer>
            <p class="version"> Versão <%= version %> </p>
        </footer>
    </body>
</html>